.alert {
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
  }
  
  .alert-icon {
    margin-right: 20px;
  }
  
  .alert-message {
    flex: 1;
  }
  
  .alert-danger {
    background-color: #ff7961; 
    color: white;
  }
  
  .alert-success {
    background-color: #81c784; 
    color: white;
  }
  .alert-warning {
    background-color: #ffd242; /* light yellow */
    border-color: #ffeeba ;
    color: #856404;
  }
  .alert-failure {
    background-color: #f8d7da; /* light yellow */
    border-color: #f5c6cb ;
    color: #721c24;
  }