
mat-card {
  max-width: 250px;
  margin: auto;
  text-align: center;
  margin-top: 3%;
}
mat-form-field {
  display: block;
}
button {
  width : 85%;
}
a:link {
  text-decoration: underline;
  color: #58a6ff;
}
a:visited {
  text-decoration: underline;
  color: #58a6ff;
}
mat-card-footer {
  padding-bottom : 10px;
  text-align: center;
}