<mat-sidenav-container class="example-container">
  <mat-sidenav class="sidebar" mode="side" disableClose opened>
    <div class="sidebar-contents">
      <mat-list>
        <mat-list-item>
          <div class="mat-headline">Slice of Life</div>
        </mat-list-item>
        <mat-list-item *ngFor="let nav of navItems">
          <button-icon (onClick)="navigateToPage(nav.path)" [iconName]="nav.iconName" [iconFill]="nav.fill ? false : true" [buttonLabel]="nav.buttonLabel" [fontSize]="25"></button-icon>
        </mat-list-item>
          <mat-list-item *ngIf="loggedIn" id="bottom">
            <button-icon [iconName]="'logout'" (onClick)="logOut()" [iconFill]="true" [buttonLabel]="'Log Out'" [fontSize]="25"></button-icon>
        </mat-list-item>
          <mat-list-item *ngIf="!loggedIn" id="bottom">
            <button-icon [iconName]="'login'" (onClick)="navigateToPage('login')" [iconFill]="true" [buttonLabel]="'Log In'" [fontSize]="25"></button-icon>
          </mat-list-item>
      </mat-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div><ng-content></ng-content></div>
  </mat-sidenav-content>
</mat-sidenav-container>