


<mat-card>
  <h1>
    Sign in to Slice of Life
  </h1> 
  <mat-card-content>
  <form [formGroup]="login" class="form" (ngSubmit)="loginUser()">
    <mat-form-field class="extend" appearance="outline">
      <mat-label>Handle</mat-label>
      <input
        matInput
        type="text"
        placeholder=""
        required
        formControlName="handle"
      />
      <mat-error *ngIf="login.get('handle').invalid">{{
        getErrorMessage()
      }}</mat-error>
    </mat-form-field>

    <mat-form-field class="extend" appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        placeholder=""
        required
        formControlName="password"
      />
      <mat-error *ngIf="login.get('password').invalid">{{
        getErrorMessage()
      }}</mat-error>
    </mat-form-field>

  <button
    class="extend"
    [disabled]="!login.valid"
    mat-raised-button
    color="primary"
    type="submit"
  >
    Sign In
  </button>
  
  </form>
</mat-card-content>

  <mat-card-footer>
    <span>New to Slice of Life? <a routerLink="/signup">Create an Account</a>.</span>
  </mat-card-footer>
</mat-card>